In [27]:
#Question 1
from pandas import read_excel

data = read_excel('2019 Winter Data Science Intern Challenge Data Set.xlsx')
perc =[.20,.40 ,.60 ,.80, .95]
data.describe( percentiles = perc)

          order_id      shop_id      user_id   order_amount  total_items
count  5000.000000  5000.000000  5000.000000    5000.000000   5000.00000
mean   2500.500000    50.078800   849.092400    3145.128000      8.78720
std    1443.520003    29.006118    87.798982   41282.539349    116.32032
min       1.000000     1.000000   607.000000      90.000000      1.00000
20%    1000.800000    19.800000   759.800000     156.000000      1.00000
40%    2000.600000    40.000000   818.600000     236.000000      2.00000
50%    2500.500000    50.000000   849.000000     284.000000      2.00000
60%    3000.400000    60.000000   877.000000     322.000000      2.00000
80%    4000.200000    80.000000   940.000000     444.000000      3.00000
95%    4750.050000    96.000000   985.000000     640.000000      4.00000
max    5000.000000   100.000000   999.000000  704000.000000   2000.00000

In [28]:
#Here with the percentiles we can clearly see that 95% of the order value is between 90$ and 640$

In [29]:
data.sort_values(by=['order_amount'], ascending=False).head(19)

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
2153,2154,42,607,704000,2000,credit_card,2017-03-12 04:00:00.000
3332,3333,42,607,704000,2000,credit_card,2017-03-24 04:00:00.000
520,521,42,607,704000,2000,credit_card,2017-03-02 04:00:00.000
1602,1603,42,607,704000,2000,credit_card,2017-03-17 04:00:00.000
60,61,42,607,704000,2000,credit_card,2017-03-04 04:00:00.000
2835,2836,42,607,704000,2000,credit_card,2017-03-28 04:00:00.000
4646,4647,42,607,704000,2000,credit_card,2017-03-02 04:00:00.000
2297,2298,42,607,704000,2000,credit_card,2017-03-07 04:00:00.000
1436,1437,42,607,704000,2000,credit_card,2017-03-11 04:00:00.000
4882,4883,42,607,704000,2000,credit_card,2017-03-25 04:00:00.000
4056,4057,42,607,704000,2000,credit_card,2017-03-28 04:00:00.000
15,16,42,607,704000,2000,credit_card,2017-03-07 04:00:00.000
1104,1105,42,607,704000,2000,credit_card,2017-03-24 04:00:00.000
1562,1563,42,607,704000,2000,credit_card,2017-03-19 04:00:00.000
2969,2970,42,607,704000,2000,credit_card,2017-03-28 04:00:00.000
4868,4869,42,607,704000,2000,credit_card,2017-03-22 04:00:00.000
1362,1363,42,607,704000,2000,credit_card,2017-03-15 04:00:00.000
691,692,78,878,154350,6,debit,2017-03-27 22:51:43.203
2492,2493,78,834,102900,4,debit,2017-03-04 04:37:33.848

In [31]:
# Question 1
# a)
# As we can see, in the 20 biggest orders we have extreme order values which makes
# the averaging not representative of the normal order value. We can't compare extraordinary orders
# of 700 000$ with ordinary ones of 90$.

# One of the solutions would be to remove these extreme values from a certain amount
# but I think that with this solution we lose the concept of overall picture that
# the calculation of the average offers us. The best method in my opinion is to calculate
# the general trend of the orders values and this is easily done with the calculation of the median.
# This allows us to obtain the best overall picture of the normal order value.



# b) The metric used is the median.

# c) The median order value is 284$
data['order_amount'].median()

284.0